{% extends "template.html" %}

{% block content %}
<h2>Tasks</h2>
<ul class="list-group">
    <p>{% if session.user_is_authenticated %}
            ID -
        {% endif %}
        Task - Requestor - Assignee - Status - Due Date</p>
    {% for task in tasklist %}
    <li class="list-group-item">
        {% if session.user_is_authenticated %}
            {{ task["id"] }} -
        {% endif %}
         {{ task["task"] }} - {{ task["requestor"] }} - {{ task["assignee"] }} - {{ task["status"] }} - {{ task["due_date"] }}
    </li>
    {% endfor %}
</ul>
{% endblock %}