{% extends "template.html" %}

{% block content %}
    <h2>Edit Ticket</h2>
    <form action="edit_ticket" method="post">
      <fieldset>
          <div class="mb-3 mt-3">
              <label class="form-label">ID: {{ ticket['id'] }}</label>
          </div>
          <div class="mb-3 mt-3">
              <label for="task" class="form-label">Task:</label>
              <input type="text" name="task" class="form-control" id="task" value="{{ ticket['task'] }}" required>
          </div>
          <div class="mb-3 mt-3">
              <label for="requestor" class="form-label">Requestor:</label>
              <input type="text" name="requestor" class="form-control" id="requestor" value="{{ ticket['requestor'] }}" required>
          </div>
          <div class="mb-3 mt-3">
              <label for="assignee" class="form-label">Assignee:</label>
              <input type="text" name="assignee" class="form-control" id="assignee" value="{{ ticket['assignee'] }}" required>
          </div>
          <div class="mb-3 mt-3">
              <label for="status" class="form-label">Status:</label>
              <input type="text" name="status" class="form-control" id="status" value="{{ ticket['status'] }}" required>
          </div>
          <div class="mb-3 mt-3">
              <label for="duedate" class="form-label">Due Date:</label>
              <input type="date" name="duedate" class="form-control" id="duedate" value="{{ ticket['due_date'] }}" required>
          </div>
          <input type="hidden" name="id" value="{{ ticket['id'] }}">
      </fieldset>
      <button type="submit" class="btn btn-primary" value="{{ ticket['id'] }}">Save Changes</button>
    </form>
{% endblock %}